---
const { headers = [], rows = [], className = '', style = '' } = Astro.props;
---
<table class={className} style={style}>
  {headers.length ? (
    <thead>
      <tr>{headers.map(h => <th>{h}</th>)}</tr>
    </thead>
  ) : null}
  <tbody>
    {rows.map(r => <tr>{r.map(c => <td>{c}</td>)}</tr>)}
  </tbody>
</table>
