.mini-breadcrumb {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  flex-grow: 1;
  justify-content: center;
}

.mini-breadcrumb:not(.disabled):hover {
  background-color: #f0f0f0;
}

.mini-breadcrumb.disabled {
  cursor: not-allowed;
  color: #bdbdbd;
}

.mini-breadcrumb.disabled .breadcrumb-icon {
  stroke: #bdbdbd;
}

.breadcrumb-icon {
  width: 20px;
  height: 20px;
  stroke: var(--text-color-secondary);
}

.breadcrumb-separator {
  margin: 0 8px;
  color: var(--text-color-secondary);
}

.breadcrumb-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-primary);
}
